.selectColor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $darkCardSubstrateM;
  border-radius: 20px;
  padding: 5px 0;
  color: $darkThemeTextColor;

  svg {
    width: 15px;
    height: 15px;
  }

  p {
    opacity: 0.7;
  }

  ul {
    width: 100%;
    display: flex;
    margin: 10px 5px;
    justify-content: space-evenly;
  }

  li {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    cursor: url(@/assets/cursor.png), pointer;

    &::after {
      content: url(@/assets/check.svg);
      width: 36px;
      height: 36px;
      border-radius: 50px;
      transition: all 0.5s ease;
      opacity: 0;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &.active {
      &::after {
        opacity: 1;
      }
    }
  }
}
