.substrate {
  width: 360px;
  height: 133px;
  background: $darkBgTheme;
  border-radius: 30px;
}

.error {
  position: absolute;
  background: $darkCardSubstrateS;
  width: 320px;
  height: 184px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 20px 0 20px;
  padding: 20px 22px 24px 22px;
  box-sizing: border-box;
  justify-content: space-between;

  h2 {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: $darkThemeTextColor;
  }

  p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $darkThemeTextColor;
  }

  .button {
    border-radius: 20px;
    width: 120px;
    height: 30px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: $darkCardSubstrateS;

    &:hover {
      background: white;
      transition: all 0.2s ease-in-out;
    }
  }
}
