$darkBgTheme: linear-gradient(119.73deg, #1c2039 10.57%, #121420 88.75%);
$lightBgTheme: linear-gradient(119.73deg, #ffffff 10.57%, #f1f3f9 88.75%);

$blueAccent: #349dea;
$orangeAccent: #ff9701;
$greenAccent: #2fce78;
$purpleAccent: #7750ec;
$yellowAccent: #e7d321;
$redAccent: #f55c5c;

$darkCardSubstrateS: #474a5d;
$darkCardSubstrateM: #2f3240;
$darkCardSubstrateL: #23273b;

$darkThemeTextColor: #ffffff;

$lightCardSubstrateS: #ffffff;
$lightCardSubstrateM: #e5e7f1;
$lightCardSubstrateL: #bec2d7;
