$darkBgTheme: linear-gradient(119.73deg, #272b40 10.57%, #121420 88.75%);
$lightBgTheme: linear-gradient(119.73deg, #ffffff 10.57%, #f1f3f9 88.75%);

$blueAccent: #349dea;
$orangeAccent: #f06e18;
$greenAccent: #13d386;
$purpleAccent: #7f57f3;
$yellowAccent: #e7d321;
$redAccent: #f55c5c;

$darkCardSubstrateS: #474a5d;
$darkCardSubstrateM: #2f3240;
$darkCardSubstrateL: #23273b;

$darkThemeTextColor: #ffffff;

$lightCardSubstrateS: #ffffff;
$lightCardSubstrateM: #e5e7f1;
$lightCardSubstrateL: #bec2d7;

// #8b8c93
